.titleContainer {
  display: flex;
  justify-content: center;
  position: relative;
  /*overflow: hidden;*/
  .title {
    position: relative;
    h1 {
      position: relative;
      font-size: 3rem;
      z-index: 2;
    }
    .bigDimmed {
      position: absolute;
      font-size: 7rem;
      left: 20%;
      top: -30%;
      font-weight: 900;
      color: rgb(230, 230, 230);
      text-shadow: 1px 0 0 #fff, 0 -1px 0 #fff, 0 1px 0 #fff, -1px 0 0 #fff;
      z-index: 1;
    }
    .bigDimmed::after {
      position: absolute;
      left: 0%;
      top: 10%;
      height: 100%;
      width: 100%;
      content: "";
      background: linear-gradient(
        to top,
        rgba(255, 255, 255, 1) 20%,
        rgba(255, 255, 255, 0) 50%
      );
      pointer-events: none;
    }
  }
}
