$gray: #eee;

html {
  background-color: $gray;
}

.page {
  background-color: $gray;

  .centerCard {
    display: flex;
    justify-content: center;
  }
}

.titleContainer {
  position: relative;
  width: 100%;
  .title {
    position: relative;
    overflow: hidden;
    h1 {
      overflow-x: hidden;
      position: relative;
      font-size: 3rem;
      text-align: center;
      z-index: 2;
    }
    .bigDimmed {
      position: absolute;
      font-size: 7rem;
      left: 45%;
      top: -30%;
      font-weight: 900;
      color: rgb(230, 230, 230);
      text-shadow: 1px 0 0 $gray, 0 -1px 0 $gray, 0 1px 0 $gray, -1px 0 0 $gray;
      z-index: 1;
    }
    .bigDimmed::after {
      position: absolute;
      left: 0%;
      top: 10%;
      height: 100%;
      width: 100%;
      content: "";
      background: linear-gradient(
        to top,
        $gray 20%,
        rgba(255, 255, 255, 0) 50%
      );
      pointer-events: none;
    }
  }
}

.listWrapper {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
